# Python Beginner

### List Operations

Create an empty list and assign to weather_data.

In [1]:
weather_data = []

Open and read in la_weather.csv.

In [2]:
f = open("la_weather.csv", "r")
data = f.read()

Split the data on the newline character to convert it to a list of rows.

In [3]:
rows = data.split("\n")
print(rows[:5])

['Day,Type of Weather', '1,Sunny', '2,Sunny', '3,Sunny', '4,Sunny']

Split each row on the comma and append each list to weather_data.

In [5]:
weather_data = [row.split(",") for row in rows]

print(weather_data[:5])

[['Day', 'Type of Weather'], ['1', 'Sunny'], ['2', 'Sunny'], ['3', 'Sunny'], ['4', 'Sunny']]

Loop over each row in weather_data.<br>
Append the second item in each row to the weather list.<br>
When complete, weather should contain each value from the Type of Weather column.

In [7]:
weather = [row[1] for row in weather_data]

print(weather[:5])

['Type of Weather', 'Sunny', 'Sunny', 'Sunny', 'Sunny']

Count the number of items in weather. You can accomplish this by:<br>

> Looping over each element in weather.<br>
Adding 1 to count for each element.<br>

When finished, count should equal the number of items in weather.

In [8]:
count = 0
for w in weather:
    count += 1
    
print(count)
print(len(weather))
print(count == len(weather))

366
366
True

Slice the weather list to remove the header.<br>
The slice should only remove the first element in the list.<br>
Assign the slice to new_weather.

In [11]:
new_weather = weather[1:]

print(new_weather[:5])

['Sunny', 'Sunny', 'Sunny', 'Sunny', 'Sunny']

In [12]:
animals = ["cat", "dog", "rabbit", "horse", "giant_horrible_monster"]

Use the in statement to check whether the value cat is in the list animals, and assign the result to cat_found.

In [13]:
cat_found = "cat" in animals

print(cat_found)

True

Use the in statement to check whether the value space_monster is in the list animals, and assign the result to space_monster_found.

In [14]:
space_monster_found = "space_monster" in animals

print(space_monster_found)

False

In [15]:
weather_types = ["Rain", "Sunny", "Fog", "Fog-Rain", "Thunderstorm", "Type of Weather"]

Loop through each item in the weather_types list.<br>
Check whether the item occurs in the new_weather list.<br>
Append the result of the check to weather_type_found.<br>
At the end, weather_type_found should be a list of Boolean values.

In [17]:
weather_type_found = []
for item in weather_types:
    found = item in new_weather
    weather_type_found.append(found)
    
print(weather_type_found)

[True, True, True, True, True, False]

### Dictionaries

Assign the first element of weather to first_element and display it using the print() function.

In [18]:
first_element = weather[0]

print(first_element)

Type of Weather

Assign the last element of weather to last_element and display it using the print() function.

In [19]:
last_element = weather[-1]

print(last_element)

Fog

Assign the value 1 to the key Aquaman in a new dictionary named superhero_ranks.

In [22]:
superhero_ranks = {}
superhero_ranks["Aquaman"] = 1

print(superhero_ranks)

{'Aquaman': 1}

Assign the value 2 to the key Superman in superhero_ranks.

In [23]:
superhero_ranks["Superman"] = 2

print(superhero_ranks)

{'Aquaman': 1, 'Superman': 2}

In [24]:
president_ranks = {}
president_ranks["FDR"] = 1
president_ranks["Lincoln"] = 2
president_ranks["Aquaman"] = 3

president_ranks

{'FDR': 1, 'Lincoln': 2, 'Aquaman': 3}

Look up FDR in president_ranks and assign the result to a new variable fdr_rank.

In [25]:
fdr_rank = president_ranks["FDR"]

fdr_rank

1

Look up Lincoln in president_ranks and assign the result to a new variable lincoln_rank.

In [26]:
lincoln_rank = president_ranks["Lincoln"]

lincoln_rank

2

Look up Aquaman in president_ranks and assign the result to a new variable aquaman_rank.

In [27]:
aquaman_rank = president_ranks["Aquaman"]

aquaman_rank

3

Create a dictionary named animals with the following keys and values:<br>

>The key 7 corresponding to the value raven.<br>
The key 8 corresponding to the value goose.<br>
The key 9 corresponding to the value duck.

In [28]:
animals = {7: "raven", 8: "goose", 9: "duck"}

animals

{7: 'raven', 8: 'goose', 9: 'duck'}

Create a dictionary named times with the following keys and values:<br>

>The key morning corresponding to the value 9.<br>
The key afternoon corresponding to the value 14.<br>
The key evening corresponding to the value 19.<br>
The key night corresponding to the value 23.

In [29]:
times = {"morning": 9, "afternoon": 14, "evening": 19, "night": 23}

times

{'morning': 9, 'afternoon': 14, 'evening': 19, 'night': 23}

In [30]:
students = {
    "Tom": 60,
    "Jim": 70
}

students

{'Tom': 60, 'Jim': 70}

Add the key Ann and value 85 to the dictionary students.

In [31]:
students["Ann"] = 85

students

{'Tom': 60, 'Jim': 70, 'Ann': 85}

Replace the value for the key Tom with 80.

In [32]:
students["Tom"] = 80

students

{'Tom': 80, 'Jim': 70, 'Ann': 85}

Add 5 to the value for the key Jim.

In [33]:
students["Jim"] += 5

students

{'Tom': 80, 'Jim': 75, 'Ann': 85}

In [34]:
planet_numbers = {"mercury": 1, "venus": 2, "earth": 3, "mars": 4}

Check whether jupiter is a key in planet_numbers, and assign the resulting Boolean value to jupiter_found.

In [35]:
jupiter_found = "jupiter" in planet_numbers

jupiter_found

False

Check whether earth is a key in planet_numbers, and assign the resulting Boolean value to earth_found.

In [36]:
earth_found = "earth" in planet_numbers

earth_found

True

In [37]:
planet_names = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Neptune", "Uranus"]

Append any names in planet_names that are longer than 5 characters to long_names. Otherwise, append the names to short_names. To accomplish this:<br>

- Loop through each item in planet_names.<br>
- Use the len() function to find the length of the item.<br>
- If the length is greater than 5, append the item to long_names.<br>
- Otherwise, append it to short_names.<br>
- When complete, short_names should contain any planet names less than 6 characters long, and long_names should contain any planet names 6 characters or longer.

In [38]:
long_names = []
short_names = []
for name in planet_names:
    if len(name) > 5:
        long_names.append(name)
    else:
        short_names.append(name)
        
print(long_names)
print(short_names)

['Mercury', 'Jupiter', 'Saturn', 'Neptune', 'Uranus']
['Venus', 'Earth', 'Mars']

In [39]:
pantry = ["apple", "orange", "grape", "apple", "orange", "apple", "tomato", "potato", "grape"]

Count the number of times that each element occurs in the list named pantry that appears in the code block below. You'll need to:<br>

- Create an empty dictionary named pantry_counts.
- Loop through each item in pantry.
- If the item appears in pantry_counts, add 1 to the value in pantry_counts for the item's key.
- Otherwise, add the item to pantry_counts as a key, with the value 1.
- When finished, each item in pantry will have its own key in pantry_counts, and its value will be the number of times the item appears in pantry.

In [41]:
pantry_counts = {}
for item in pantry:
    if item in pantry_counts:
        pantry_counts[item] += 1
    else:
        pantry_counts[item] = 1
        
pantry_counts

{'apple': 3, 'orange': 2, 'grape': 2, 'tomato': 1, 'potato': 1}

- Count how many times each type of weather occurs in the weather list, and store the results in a new dictionary called weather_counts.
- When finished, weather_counts should contain a key for each different type of weather in the weather list, along with its associated frequency.

In [42]:
weather_counts = {}
for w in weather:
    if w in weather_counts:
        weather_counts[w] += 1
    else:
        weather_counts[w] = 1
        
weather_counts

{'Type of Weather': 1,
 'Sunny': 210,
 'Rain': 25,
 'Fog': 125,
 'Fog-Rain': 4,
 'Thunderstorm': 1}