## Python Basics

### Variables

Assign the value 749 to the variable albuquerque.

In [1]:
albuquerque = 749

Assign the value 371 to the variable anaheim.

In [2]:
anaheim = 371

Assign the value 828 to the variable anchorage.

In [3]:
anchorage = 828

Assign the value 503 to the variable arlington.

In [4]:
arlington = 503

Assign the value 1379 to the variable atlanta.

In [5]:
atlanta = 1379

Use the print() function to display the value associated with anaheim.

In [6]:
print(anaheim)

371

Assign the string value "Atlanta" to atlanta_string.

In [8]:
atlanta_string = "Atlanta"

Assign the float value 1379.5 to atlanta_float.

In [9]:
atlanta_float = 1379.5

Display the type for the value associated with atlanta_string.

In [10]:
print(type(atlanta_string))

<class 'str'>

Create two empty lists, cities and crime_rates.

In [11]:
cities = []
crime_rates = []

Add the following strings to the list cities, in the following order:
"Albuquerque"
"Anaheim"
"Anchorage"
"Arlington"
"Atlanta".

In [12]:
cities.append("Albuquerque") 
cities.append("Anaheim") 
cities.append("Anchorage")
cities.append("Arlington")
cities.append("Atlanta")

Add the following integer values to the list crime_rates, in the following order:
749
371
828
503
1379.

In [13]:
crime_rates.append(749)
crime_rates.append(371)
crime_rates.append(828)

Use the print() function to display both lists.

In [14]:
print(cities)
print(crime_rates)

['Albuquerque', 'Anaheim', 'Anchorage', 'Arlington', 'Atlanta']
[749, 371, 828]

Create the list crime_rates again, but this time using the technique we just learned.
This list should contain the following values in the following order:
749
371
828
503
1379.

In [15]:
crime_rates = [749, 371, 828, 503, 1379]

Select the third element from the list cities and assign to the variable anchorage_str.

In [16]:
anchorage_str = cities[2]

Select the third element from the list crime_rates and assign to the new variable anchorage_cr.

In [17]:
anchorage_cr = crime_rates[2]

Add the lengths of the cities and crime_rates list objects and assign the sum to two_sum.

In [18]:
two_sum = (len(cities)+len(crime_rates))

Select the second, third, and fourth elements from cities, and assign the resulting list to cities_slice.

In [19]:
cities_slice = cities[1:4]

Select the last two elements in crime_rates and assign to cr_slice.

In [20]:
cr_slice = crime_rates[3:]