# Pandas and NumPy Fundamentals

### Pandas

- Import the pandas library.

In [1]:
import pandas

- Use the pandas.read_csv() function to read the file "food_info.csv" into a dataframe named food_info.

In [2]:
food_info = pandas.read_csv("food_info.csv")

- Use the type() and print() functions to display the type of food_info to confirm that it's a dataframe object.

In [3]:
print(type(food_info))

<class 'pandas.core.frame.DataFrame'>

- Select the first 20 rows from food_info and assign to the variable first_twenty.

In [4]:
first_twenty = food_info.head(20)
first_twenty

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0
6,1007,CHEESE CAMEMBERT,51.80,300,19.80,24.26,3.68,0.46,0.0,0.46,...,820.0,241.0,0.21,0.4,18.0,2.0,15.259,7.023,0.724,72.0
7,1008,CHEESE CARAWAY,39.28,376,25.18,29.20,3.28,3.06,0.0,NaN,...,1054.0,271.0,NaN,NaN,NaN,NaN,18.584,8.275,0.830,93.0
8,1009,CHEESE CHEDDAR,37.10,406,24.04,33.82,3.71,1.33,0.0,0.28,...,994.0,263.0,0.78,0.6,24.0,2.9,19.368,8.428,1.433,102.0
9,1010,CHEESE CHESHIRE,37.65,387,23.37,30.60,3.60,4.78,0.0,NaN,...,985.0,233.0,NaN,NaN,NaN,NaN,19.475,8.671,0.870,103.0
10,1011,CHEESE COLBY,38.20,394,23.76,32.11,3.36,2.57,0.0,0.52,...,994.0,264.0,0.28,0.6,24.0,2.7,20.218,9.280,0.953,95.0
11,1012,CHEESE COTTAGE CRMD LRG OR SML CURD,79.79,98,11.12,4.30,1.41,3.38,0.0,2.67,...,140.0,37.0,0.08,0.1,3.0,0.0,1.718,0.778,0.123,17.0
12,1013,CHEESE COTTAGE CRMD W/FRUIT,79.64,97,10.69,3.85,1.20,4.61,0.2,2.38,...,146.0,38.0,0.04,0.0,0.0,0.4,2.311,1.036,0.124,13.0
13,1014,CHEESE COTTAGE NONFAT UNCRMD DRY LRG OR SML CURD,81.01,72,10.34,0.29,1.71,6.66,0.0,1.85,...,8.0,2.0,0.01,0.0,0.0,0.0,0.169,0.079,0.003,7.0
14,1015,CHEESE COTTAGE LOWFAT 2% MILKFAT,81.24,81,10.45,2.27,1.27,4.76,0.0,4.00,...,225.0,68.0,0.08,0.0,0.0,0.0,1.235,0.516,0.083,12.0
15,1016,CHEESE COTTAGE LOWFAT 1% MILKFAT,82.48,72,12.39,1.02,1.39,2.72,0.0,2.72,...,41.0,11.0,0.01,0.0,0.0,0.1,0.645,0.291,0.031,4.0
16,1017,CHEESE CREAM,54.44,342,5.93,34.24,1.32,4.07,0.0,3.21,...,1343.0,366.0,0.29,0.6,25.0,2.9,19.292,8.620,1.437,110.0
17,1018,CHEESE EDAM,41.56,357,24.99,27.80,4.22,1.43,0.0,1.43,...,825.0,243.0,0.24,0.5,20.0,2.3,17.572,8.125,0.665,89.0
18,1019,CHEESE FETA,55.22,264,14.21,21.28,5.20,4.09,0.0,4.09,...,422.0,125.0,0.18,0.4,16.0,1.8,14.946,4.623,0.591,89.0
19,1020,CHEESE FONTINA,37.92,389,25.60,31.14,3.79,1.55,0.0,1.55,...,913.0,261.0,0.27,0.6,23.0,2.6,19.196,8.687,1.654,116.0

- Assign the 100th row of food_info to the variable hundredth_row.

In [5]:
hundredth_row = food_info.loc[99]
hundredth_row

NDB_No                                  1111
Shrt_Desc          MILK SHAKES THICK VANILLA
Water_(g)                              74.45
Energ_Kcal                               112
Protein_(g)                             3.86
Lipid_Tot_(g)                           3.03
Ash_(g)                                 0.91
Carbohydrt_(g)                         17.75
Fiber_TD_(g)                               0
Sugar_Tot_(g)                          17.75
Calcium_(mg)                             146
Iron_(mg)                                0.1
Magnesium_(mg)                            12
Phosphorus_(mg)                          115
Potassium_(mg)                           183
Sodium_(mg)                               95
Zinc_(mg)                               0.39
Copper_(mg)                            0.051
Manganese_(mg)                         0.014
Selenium_(mcg)                           2.3
Vit_C_(mg)                                 0
Thiamin_(mg)                            0.03
Riboflavin_(mg)                        0.195
Niacin_(mg)                            0.146
Vit_B6_(mg)                            0.042
Vit_B12_(mcg)                           0.52
Vit_A_IU                                  91
Vit_A_RAE                                 25
Vit_E_(mg)                              0.05
Vit_D_mcg                                1.2
Vit_D_IU                                  48
Vit_K_(mcg)                              0.2
FA_Sat_(g)                             1.886
FA_Mono_(g)                            0.875
FA_Poly_(g)                            0.113
Cholestrl_(mg)                            12
Name: 99, dtype: object

- Display hundredth_row using the print() function.

In [6]:
print(hundredth_row)

NDB_No                                  1111
Shrt_Desc          MILK SHAKES THICK VANILLA
Water_(g)                              74.45
Energ_Kcal                               112
Protein_(g)                             3.86
Lipid_Tot_(g)                           3.03
Ash_(g)                                 0.91
Carbohydrt_(g)                         17.75
Fiber_TD_(g)                               0
Sugar_Tot_(g)                          17.75
Calcium_(mg)                             146
Iron_(mg)                                0.1
Magnesium_(mg)                            12
Phosphorus_(mg)                          115
Potassium_(mg)                           183
Sodium_(mg)                               95
Zinc_(mg)                               0.39
Copper_(mg)                            0.051
Manganese_(mg)                         0.014
Selenium_(mcg)                           2.3
Vit_C_(mg)                                 0
Thiamin_(mg)                            0.03
Riboflavin_(mg)                        0.195
Niacin_(mg)                            0.146
Vit_B6_(mg)                            0.042
Vit_B12_(mcg)                           0.52
Vit_A_IU                                  91
Vit_A_RAE                                 25
Vit_E_(mg)                              0.05
Vit_D_mcg                                1.2
Vit_D_IU                                  48
Vit_K_(mcg)                              0.2
FA_Sat_(g)                             1.886
FA_Mono_(g)                            0.875
FA_Poly_(g)                            0.113
Cholestrl_(mg)                            12
Name: 99, dtype: object

- Select the last 5 rows of food_info and assign to the variable last_rows.

In [7]:
num_rows = food_info.shape[0]
last_rows = food_info.loc[num_rows-5:num_rows-1]
last_rows

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.0,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.0,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.2,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.0,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.0,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

- Assign the "FA_Sat_(g)" column to the variable saturated_fat.

In [8]:
saturated_fat = food_info["FA_Sat_(g)"]
saturated_fat

0       51.368
1       50.489
2       61.924
3       18.669
4       18.764
5       17.410
6       15.259
7       18.584
8       19.368
9       19.475
10      20.218
11       1.718
12       2.311
13       0.169
14       1.235
15       0.645
16      19.292
17      17.572
18      14.946
19      19.196
20      19.160
21      17.614
22      18.913
23      16.746
24      19.066
25      13.152
26      15.561
27      10.114
28      11.473
29      19.113
         ...
8588     0.185
8589     0.072
8590     0.058
8591     2.837
8592     0.600
8593     1.415
8594     0.030
8595     3.304
8596     1.500
8597    10.867
8598    10.784
8599    14.367
8600     0.000
8601     7.996
8602     0.555
8603     0.984
8604     0.000
8605     0.009
8606     0.000
8607     0.003
8608     1.578
8609     0.018
8610     0.099
8611     0.272
8612     0.076
8613     7.148
8614     0.218
8615     0.000
8616     0.361
8617     0.127
Name: FA_Sat_(g), Length: 8618, dtype: float64

- Assign the "Cholestrl_(mg)" column to the variable cholesterol.

In [9]:
cholesterol = food_info["Cholestrl_(mg)"]

- Select the 'Selenium_(mcg)' and 'Thiamin_(mg)' columns and assign the resulting dataframe to selenium_thiamin.

In [10]:
selenium_thiamin = food_info[["Selenium_(mcg)", "Thiamin_(mg)"]]
selenium_thiamin

      Selenium_(mcg)  Thiamin_(mg)
0                1.0         0.005
1                1.0         0.005
2                0.0         0.001
3               14.5         0.029
4               14.5         0.014
5               14.5         0.070
6               14.5         0.028
7               14.5         0.031
8               28.3         0.027
9               14.5         0.046
10              14.5         0.015
11               9.7         0.027
12               7.7         0.033
13               9.4         0.023
14              11.9         0.020
15               9.0         0.021
16               2.4         0.020
17              14.5         0.037
18              15.0         0.154
19              14.5         0.021
20              14.5         0.315
21              14.5         0.030
22              14.5         0.060
23              14.5         0.080
24              14.5         0.015
25              17.0         0.030
26              16.1         0.016
27              14.4         0.018
28              26.8         0.059
29              14.5         0.013
...              ...           ...
8588            16.3         1.600
8589             1.1         0.020
8590             0.6         0.020
8591            15.7         0.220
8592             7.3         1.300
8593             8.6         0.350
8594             0.4         0.010
8595            12.7         0.020
8596            15.0         1.000
8597            15.7         0.020
8598             1.6         0.010
8599             0.0         0.000
8600             0.5         0.000
8601             2.9         0.000
8602            15.3         0.440
8603             3.9         0.020
8604             NaN         0.010
8605             1.4         0.010
8606             0.4         0.023
8607             0.5         0.009
8608             5.1         0.025
8609             0.9         0.000
8610             0.8         0.005
8611            39.7         0.000
8612            14.1         0.140
8613            73.4         0.020
8614            21.7         0.012
8615             0.7         0.130
8616            27.4         0.010
8617            16.8         0.120

[8618 rows x 2 columns]

- Select and display only the columns that use grams for measurement (that end with "(g)"). To accomplish this:
    - Use the columns attribute to return the column names in food_info and convert to a list by calling the method tolist()
    - Create a new list, gram_columns, containing only the column names that end in "(g)". The string method endswith() returns True if the string object calling the method ends with the string passed into the parentheses.
    - Pass gram_columns into bracket notation to select just those columns and assign the resulting dataframe to gram_df
    - Then use the dataframe method head() to display the first 3 rows of gram_df.

In [11]:
columns = food_info.columns.tolist()
gram_columns = [column for column in columns if column.endswith("(g)") == True]

gram_df = food_info[gram_columns]
print(gram_df.head(3))

   Water_(g)  Protein_(g)  Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  \
0      15.87         0.85          81.11     2.11            0.06
1      15.87         0.85          81.11     2.11            0.06
2       0.24         0.28          99.48     0.00            0.00

   Fiber_TD_(g)  Sugar_Tot_(g)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)
0           0.0           0.06      51.368       21.021        3.043
1           0.0           0.06      50.489       23.426        3.012
2           0.0           0.00      61.924       28.732        3.694

- Use the DataFrame.columns attribute, followed by the Index.tolist() method, to return a list containing only the column names.
- Assign the resulting list to col_names, and use the print() function to display the value.

In [12]:
col_names = food_info.columns.tolist()
print(col_names)

['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)', 'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)', 'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)', 'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)', 'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)', 'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)', 'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg', 'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)', 'Cholestrl_(mg)']

- Display the first three rows of food_info.

In [13]:
print(food_info.head(3))

   NDB_No                 Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
0    1001          BUTTER WITH SALT      15.87         717         0.85
1    1002  BUTTER WHIPPED WITH SALT      15.87         717         0.85
2    1003      BUTTER OIL ANHYDROUS       0.24         876         0.28

   Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
0          81.11     2.11            0.06           0.0           0.06
1          81.11     2.11            0.06           0.0           0.06
2          99.48     0.00            0.00           0.0           0.00

        ...        Vit_A_IU  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  \
0       ...          2499.0      684.0        2.32        1.5      60.0
1       ...          2499.0      684.0        2.32        1.5      60.0
2       ...          3069.0      840.0        2.80        1.8      73.0

   Vit_K_(mcg)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
0          7.0      51.368       21.021        3.043           215.0
1          7.0      50.489       23.426        3.012           219.0
2          8.6      61.924       28.732        3.694           256.0

[3 rows x 36 columns]

- Divide the "Sodium_(mg)" column by 1000 to convert the values to grams, and assign the result to sodium_grams.

In [14]:
sodium_grams = food_info["Sodium_(mg)"] / 1000
sodium_grams

0       0.643
1       0.659
2       0.002
3       1.146
4       0.560
5       0.629
6       0.842
7       0.690
8       0.644
9       0.700
10      0.604
11      0.364
12      0.344
13      0.372
14      0.308
15      0.406
16      0.365
17      0.812
18      0.917
19      0.800
20      0.600
21      0.819
22      0.714
23      0.800
24      0.600
25      0.627
26      0.710
27      0.619
28      0.682
29      0.628
        ...
8588    0.002
8589    0.002
8590    0.007
8591    0.564
8592    0.464
8593    0.490
8594    0.001
8595    0.199
8596    0.297
8597    0.016
8598    0.486
8599    0.000
8600    0.002
8601    1.297
8602    1.435
8603    2.838
8604    0.010
8605    0.002
8606    0.012
8607    0.000
8608    3.326
8609    1.765
8610    3.750
8611    0.029
8612    0.058
8613    4.450
8614    0.667
8615    0.058
8616    0.070
8617    0.068
Name: Sodium_(mg), Length: 8618, dtype: float64

- Multiply the "Sugar_Tot_(g)" column by 1000 to convert to milligrams, and assign the result to sugar_milligrams.

In [15]:
sugar_milligrams = food_info["Sugar_Tot_(g)"]*1000

- Assign the number of grams of protein per gram of water ("Protein_(g)" column divided by "Water_(g)" column) to grams_of_protein_per_gram_of_water.

In [16]:
grams_of_protein_per_gram_of_water = food_info["Protein_(g)"] / food_info["Water_(g)"]

- Assign the total amount of calcium and iron ("Calcium_(mg)" column plus "Iron_(mg)" column) to milligrams_of_calcium_and_iron.

In [17]:
milligrams_of_calcium_and_iron = food_info["Calcium_(mg)"] + food_info["Iron_(mg)"]

- Multiply the "Protein_(g)" column by two, and assign the resulting Series to weighted_protein.

In [18]:
weighted_protein = food_info["Protein_(g)"]*2

- Multiply the "Lipid_Tot_(g)" column by -0.75, and assign the resulting Series to weighted_fat.

In [19]:
weighted_fat = food_info["Lipid_Tot_(g)"]*(-0.75)

- Add both Series objects together and assign the result to initial_rating.

In [20]:
initial_rating = weighted_fat + weighted_protein

- Normalize the values in the "Protein_(g)" column, and assign the result to normalized_protein.

In [21]:
normalized_protein = food_info["Protein_(g)"] / food_info["Protein_(g)"].max()

- Normalize the values in the "Lipid_Tot_(g)" column, and assign the result to normalized_fat.

In [22]:
normalized_fat = food_info["Lipid_Tot_(g)"] / food_info["Lipid_Tot_(g)"].max()

- Assign the normalized "Protein_(g)" column to a new column named "Normalized_Protein" in food_info.

In [23]:
food_info["Normalized_Protein"] = normalized_protein

- Assign the normalized "Lipid_Tot_(g)" column to a new column named "Normalized_Fat" in food_info.

In [24]:
food_info["Normalized_Fat"] = normalized_fat

- Use the Normalized_Protein and Normalized_Fat columns with the formula above to create the Norm_Nutr_Index column.

In [25]:
food_info["Norm_Nutr_Index"] = 2*food_info["Normalized_Protein"] - 0.75*food_info["Normalized_Fat"]

- Sort the food_info DataFrame in-place on the Norm_Nutr_Index column in descending order.

In [26]:
food_info.sort_values("Norm_Nutr_Index", inplace = True, ascending = False)